body
{
	margin: 40px auto;
	max-width: 900px;
	line-height: 1.6;
	font-family: 'Jost';
	font-size: 18px;
	color: #444;
	background-color: #DDD;
}

h1, h2, h3
{
	line-height: 0.5;
}

a
{
	color: #364E63;
}	

nav 
{
	position: sticky;
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav li 
{
	float: right;
}

nav li a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover 
{
	background-color: #222;
}

footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #555;
	color: white;
	text-align: center;
}

footer a
{
	color: #DDD;
}

.video-container 
{ 
	position: relative; 
}

.video-container video
{
	position: relative;
	z-index: 0;
}

.video-overlay
{
	position: absolute;
	top: 150px;
	left: 40px;
	color: #DDD;
	text-shadow: 2px 2px #222;
	z-index: 1;
}

#logo
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding-right: 14px 16px;
	margin-left: 14px;
	text-decoration: none;
}

#logo a
{
	color: white;
	text-decoration: none;
}

#gamedesc
{
	font-size: 16px;
}

#hometext
{
	font-size: 40px; 
}